.btn-navegacion{
    background-color: #27187E;
    border: none;
}
.btn-navegacion:hover{
    background-color: #27187E;
}
.btn-navegacion:active{
    background-color: #27187E !important;
}
.img-producto-carrito{
    width: 150px;
    height: 150px;
}