.btn-navegacion{
    background-color: #27187E;
    border: none;
}
.btn-navegacion:hover{
    background-color: #27187E;
}
.btn-navegacion:active{
    background-color: #27187E !important;
}
.img-producto-carrito{
    width: 150px;
    height: 150px;
}
.btn-eliminar{
    position: absolute;
    bottom: 32px;
}
/*Media query para dispositivos pequeños*/
@media(max-width: 575.98px){
    .btn-eliminar{
        left: 270px;
    }
}