.imagen-Carousel {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators [data-bs-target] {
  filter: invert(100%);
}

.contenedorImg {
  overflow: hidden;
  height: 200px;
}

.imgCard {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.contenedorCat {
  transform: skewX(-12deg);
  margin-left: 15px;
}

.tituloCat {
  transform: skewX(12deg);
}

.contenedor-videos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.imagen-ofertas {
  flex: 1;
  width: 0;
  min-width: 0;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


@media (max-width: 992px) {
  .imagen-ofertas {
    height: 200px;
  }
}
