.contenedor-nosotros{
    background-color: #8dafd146;
}

.card-miembro {
  border: 1px solid #0a4e92;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  height: 100%;
  width: 100%;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-miembro:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.card-img-miembro {
    width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-header-miembro {
  border-top: 1px solid #212529;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: #f8f9fa;
}

.card-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

